table tr
{
  border: 0;
}


.card-image img
{
    object-fit: cover; /* crops instead of stretches */
    max-height: 50vh;
    /* filter: brightness(50%); */

}

.card-image-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1));
}

div.event-description {
  white-space: pre-line;
}
